<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{project_name}}</title>
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel='shortcut icon' type='image/x-icon' href='images/favicon.ico' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

</body>
<script type="text/javascript" src="assets/js/main.js"></script>

</html>
